/*Game styles */

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000; 
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    height: 100%;
}

#buttons {
    display: inline-block;
    height: 185px;
    width: 100%;
    text-align: center;
    vertical-align: center;
    background-color: #000000;
}

.pausebutton {
    position:absolute;
    left:95%;
    top:5%
}

.jokestatus {
    position:absolute;
    left:0.5%;
    top:95%;
    width: 30px;
    height: 30px;
}

.game {
    margin-bottom: -4px;
}

.spritePosition {
    margin: 10px 0 0 10px;
    font-size: 0.8em;
}

.button {
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.87);
    border: 50px solid rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s;

    /* Disabled styles */
    &:disabled {
        border: 4px solid rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.3);
        pointer-events: none;
    }
}

.attackbutton {
    &:hover {
        border: 4px solid #ff000073;
        color: #ff0000;
    }
    &:active {
        background-color: #ff000073;
    }
}

.shieldbutton {
    &:hover {
        border: 4px solid #00c3ff80;
        color: #00c3ff;
    }
    &:active {
        background-color: #00c3ff80;
    }
}

.dodgebutton {
    &:hover {
        border: 4px solid #00ff407c;
        color: #00ff40;
    }
    &:active {
        background-color: #00ff407c;
    }
}

/*Menu styles */

.menu {
    position:absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.menubutton {
    flex: 1.0;
    margin: 20px;
}

.menulogo {
    position:absolute;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
}

.menulogin {
    position:absolute;
    top: 5%;
    left: 95%;
    transform: translate(-50%, -50%);
}